footer {
  position: fixed;
  inset: auto 0 0 0;
  padding: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

:root {
  --radius: 1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

body {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(340px, 1fr) minmax(1rem, 1fr);
  grid-template-areas: ". main .";
  background-color: hsl(226deg, 43%, 10%);
  color: #fff;
  padding-block: 2rem;
}

main {
  grid-area: main;
  display: grid;
  gap: 1.5rem;
}
main > section:first-of-type {
  margin-block-end: -1rem;
}
main > section + section {
  margin-block-start: 1rem;
}

section > div {
  border-radius: var(--radius);
  background-color: hsl(235deg, 46%, 20%);
}

section:not(:first-of-type) > div {
  padding: 1rem;
}

header {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  background-color: hsl(246deg, 80%, 60%);
  border-radius: var(--radius);
}
header img {
  width: 75px;
  height: 75px;
  margin-right: 1rem;
  border: 2px solid white;
  border-radius: 50%;
}
header h1 {
  font-size: 1.5rem;
  font-weight: 300;
}
header h1 span {
  display: block;
  font-size: 0.5em;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: hsl(236deg, 100%, 87%);
}

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
nav ul li a {
  display: inline-block;
  padding: 1em;
  color: hsl(235deg, 45%, 61%);
  text-decoration: none;
  transition: color 250ms ease-in-out;
}
nav ul li a:hover, nav ul li a:active, nav ul li a:focus {
  color: #fff;
}

.card {
  position: relative;
  transform: translateY(1rem);
  z-index: 10;
}

.card::after {
  --spacing: 1.5rem;
  position: absolute;
  display: block;
  content: "";
  top: calc(-1 * var(--spacing));
  height: calc(2 * var(--spacing));
  left: 0;
  right: 0;
  border-radius: var(--radius);
  background-position-x: 95%;
  background-position-y: 5%;
  background-repeat: no-repeat;
  background-size: 2em;
  z-index: -1;
}

.work::after {
  background-color: hsl(15deg, 100%, 70%);
  background-image: url(../images/icon-work.svg);
}

.play::after {
  background-color: hsl(195deg, 74%, 62%);
  background-image: url(../images/icon-play.svg);
}

.study::after {
  background-color: hsl(348deg, 100%, 68%);
  background-image: url(../images/icon-study.svg);
}

.exercise::after {
  background-color: hsl(145deg, 58%, 55%);
  background-image: url(../images/icon-exercise.svg);
}

.social::after {
  background-color: hsl(264deg, 64%, 52%);
  background-image: url(../images/icon-social.svg);
}

.selfcare::after {
  background-color: hsl(43deg, 84%, 65%);
  background-image: url(../images/icon-self-care.svg);
}

h2 {
  font-size: 1rem;
  margin-block-end: 0.5em;
}

.card ul {
  display: none;
}

.time-spent {
  display: flex;
  align-items: center;
}

.current {
  font-size: 2.5rem;
  line-height: 1;
}

.previous {
  font-size: 0.75rem;
  margin-inline-start: auto;
  font-weight: 300;
  color: hsl(236deg, 100%, 87%);
}

/*# sourceMappingURL=styles.css.map */
