@use 'colors' as *;
@use 'footer';
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

:root {
    --radius: 1rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
}

body {
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(340px, 1fr) minmax(1rem, 1fr);
    grid-template-areas: '. main .';
    background-color: $clr-neutral-900;
    color: #fff;
    padding-block: 2rem;
}

main {
    grid-area: main;
    display: grid;
    gap: 1.5rem;
    &>section:first-of-type {
        margin-block-end: -1rem;
    }
    &>section+section {
        margin-block-start: 1rem;
        // padding: 1rem;
    }
}

section>div {
    border-radius: var(--radius);
    background-color: $clr-neutral-700;
}

section:not(:first-of-type)>div {
    padding: 1rem;
}

header {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    background-color: $clr-primary-blue;
    border-radius: var(--radius);
    img {
        width: 75px;
        height: 75px;
        margin-right: 1rem;
        border: 2px solid white;
        border-radius: 50%;
    }
    h1 {
        font-size: 1.5rem;
        font-weight: 300;
        & span {
            display: block;
            font-size: .5em;
            font-weight: 400;
            letter-spacing: .05em;
            color: $clr-neutral-200;
        }
    }
}

nav {
    ul {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        list-style: none;
        li a {
            display: inline-block;
            padding: 1em;
            color: $clr-neutral-400;
            text-decoration: none;
            transition: color 250ms ease-in-out;
            &:hover,
            &:active,
            &:focus {
                color: #fff;
            }
        }
    }
}

.card {
    position: relative;
    transform: translateY(1rem);
    z-index: 10;
}

.card::after {
    --spacing: 1.5rem;
    position: absolute;
    display: block;
    content: '';
    top: calc(-1 * var(--spacing));
    height: calc(2 * var(--spacing));
    left: 0;
    right: 0;
    border-radius: var(--radius);
    background-position-x: 95%;
    background-position-y: 5%;
    background-repeat: no-repeat;
    background-size: 2em;
    z-index: -1;
}

.work::after {
    background-color: $clr-primary-work;
    background-image: url(../images/icon-work.svg);
}

.play::after {
    background-color: $clr-primary-play;
    background-image: url(../images/icon-play.svg);
}

.study::after {
    background-color: $clr-primary-study;
    background-image: url(../images/icon-study.svg);
}

.exercise::after {
    background-color: $clr-primary-exercise;
    background-image: url(../images/icon-exercise.svg);
}

.social::after {
    background-color: $clr-primary-social;
    background-image: url(../images/icon-social.svg);
}

.selfcare::after {
    background-color: $clr-primary-selfcare;
    background-image: url(../images/icon-self-care.svg);
}

h2 {
    font-size: 1rem;
    margin-block-end: .5em;
}

.card ul {
    display: none;
}

.time-spent {
    display: flex;
    align-items: center;
}

.current {
    // margin-block-end: 1rem;
    font-size: 2.5rem;
    line-height: 1;
}

.previous {
    font-size: .75rem;
    margin-inline-start: auto;
    font-weight: 300;
    color: $clr-neutral-200;
}